<ion-view title="{{navTitle}}" hide-back-button = "false">

 <ion-nav-bar align-title="center">
  <ion-nav-back-button class="button-clear">
    <i class="ion-ios-arrow-back"></i> 
  </ion-nav-back-button>
</ion-nav-bar> 
	

  <ion-content >
  	<form name="LoginForm" ng-submit="doLogin()" role="LoginForm" novalidate>
  		<div style="width:100%" align="center">
            <div style="width:90%; margin-top:20px;">
                <img src="img/register/face.png" style="width:100%" ng-click="facebookConnect()">
            </div>
            <div style="width:90%; margin-top:10px; margin-bottom:0px;">
                <img src="img/register/or.png" style="width:100%">
            </div>
            <div class="list list-inset">
              <label class="item item-input" style="border-radius:5px; border:1px solid #5fbbdc">
                <input type="text" placeholder="Email Address" ng-model="loginFields.username" required>
              </label>
              <label class="item item-input" style="margin-top:10px; border-radius:5px; border:1px solid #5fbbdc">
                <input type="password" placeholder="Password" ng-model="loginFields.password" required>
              </label>
            </div>
         </div>
         <div style="width:100%" align="left">
             <div style="width:35%; margin-top:10px; margin-left:15px; margin-bottom:10px;" ng-click="forgotPass()">
                <img src="img/register/forgot.png" style="width:100%">
            </div>
         </div>
         <div style="width:100%" align="center">
         	<button ng-disabled="LoginForm.$invalid" type="submit" style="border:none">
                <div style="width:95%; margin-top:10px; margin-bottom:10px;">
                    <img src="img/register/login.png" style="width:100%">
                </div>
            </button>
            <a href="#app/register">
                <div style="width:30%; margin-top:10px; margin-bottom:10px;">
                    <img src="img/register/new.png" style="width:100%">
                </div>
            </a>
         </div>
    	</div>
    </form>
	    
		<!--<div class="list">
	  <label class="item item-input">
		<input type="text" placeholder="Username" ng-model="loginFields.username" required>
	  </label>
	  <label class="item item-input">
		<input type="password" placeholder="Password" ng-model="loginFields.password" required>
	  </label>
        <label >
          <button ng-disabled="LoginForm.$invalid" class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>-->
    </form> 
	<!--<div align="center" style="margin-top:20px;">
	New here? <a href="#app/register" style="text-decoration:none;">Sign up</a>
	</div>-->
 </ion-content>
</ion-view>