<ion-view title="Settings" >


<ion-nav-bar>
  <ion-nav-back-button class="button-clear" ng-click="refreshCtrl()">
    <i class="ion-chevron-left "></i> 
  </ion-nav-back-button>
</ion-nav-bar>

  <ion-content >
	   <form name="SettingsForm" ng-submit="updateSettings()" role="SettingsForm" novalidate>
		<div class="list">

		<label class="item item-toggle" style="color:black;">
           Invisibility
           <label class="toggle toggle-positive">
             <input type="checkbox"  ng-model="fields.visiblity" ng-change="onChangeSave()" checked>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </label>

 			<label class="item item-toggle listLabel" >
			   Show users &nbsp; &nbsp; &nbsp; near by users only
			   <label class="toggle toggle-positive">
				 <input type="checkbox" ng-model="fields.nearBy" ng-change="onChangeSave()">
				 <div class="track">
				   <div class="handle"></div>
				 </div>
			   </label>
			</label>
			
			
			<label class="item item-input ">
				<div ng-if="fields.nearBy" class="RadrDitance">
				
				</div>
				<div ng-class="fields.nearBy?'noActiveRadar':'input-label'" >
				 Radar distance
				</div>
				<!--
				<slider floor="10" ceiling="100"  ng-model-low="fields.minDistance" ng-model-high="fields.maxDistance" ></slider>
				-->

				<rzslider 
				rz-slider-floor="1" 
				rz-slider-ceil="99"
				rz-slider-model="fields.minDistance"
				rz-slider-on-end="onChangeSave()"
				 style="width:50%;">
				</rzslider>



				</label>  
				
		<!--<div align="center" style="border-top:0px; border-bottom:0px;">
			<div>Min Distance: {{fields.minDistance}}</div>
			<div>Max Distance: {{fields.maxDistance}}</div>
		</div>-->
		 

		<label class="item item-input item-select">
		<div class="input-label">
		  Interested in
		</div>
		<select ng-model="fields.interested" ng-change="onChangeSave()">
		  <option value="1">Male</option>
		  <option value="2" selected>Female</option>
		  <option value="3">Both</option>
		</select>
		</label>  



		<label class="item item-input">
		<div class="input-label">
		  Age Group
		</div>

	<rzslider rz-slider-on-end="onChangeSave()" 
	rz-slider-floor="16" 
    rz-slider-ceil="100"
    rz-slider-model="fields.minAge"
    rz-slider-high="fields.maxAge" style="width:50%;">
	</rzslider>
	
	
		<!--
		<slider floor="10" ceiling="100"  ng-model-low="fields.minAge" ng-model-high="fields.maxAge" ></slider>
		-->
		
		</label>  
		<!-- <div align="center" style="border-top:0px; border-bottom:0px;">
			<div>Age Range Min: {{fields.minAge}}</div>
			<div>Age Range Max: {{fields.maxAge}}</div>
		</div>-->
		
	<div class="list" ng-click="EditProfile()">

		<label class="item item-input">
		<div class="input-label">
		  Edit profile
		</div>
		</label>  
	</div>
		<!--
    	<label class="item item-input" ng-click="deleteChatBtn()">
            <div class="input-label">
              Delete            
            </div>
		</label>  
        -->
		<label class="item item-toggle" style="color:black;">
           Notifications
           <label class="toggle toggle-positive">
             <input type="checkbox" checked>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </label>
 		
        


		<label class="item item-input">
		<div class="input-label">
		  Invite Friends
		</div>
		</label>  

		<label class="item item-input">
		<div class="input-label">
		  Share Us :)
		</div>
		</label>   

	

	<div class="list">
	  <label class="item item-input">
		<div class="input-label">
		  Contact iStare
		</div>
		</label> 
 
	  <label class="item item-input">
		<div class="input-label">
		  Privacy Policy
		</div>
		</label> 
 
	  <label class="item item-input" ng-click="LogOutBtn()">
		<div class="input-label">
		  Logout
		</div>
		</label>  
	
	<!--
      <label class="item">
          <button ng-click="saveChangesBtn()" class="button button-block button-balanced" type="button">Update</button>
		</label>
	-->
		
	
    </div>
	</div>
			
   
    </form>

 </ion-content>
</ion-view>