<ion-modal-view >


<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons" ng-click="closePickerModal()">
  <button class="button icon-left ion-chevron-left button-clear button-white"></button>

  </div>
  <div align="center">
  <h1 class="title"><img class="title" src="img/logo.png" style="width:70px; height:30px; margin-top:5px; margin-left:200px;"/></h1>
  </div>
</ion-header-bar>

<!--
  <ion-header-bar>
  	<div style="" align="center">
        
        <div class="buttons">
          <button class="button button-clear" ng-click="closePickerModal()">Close <i class="ion-ios-arrow-back"></i></button>
        </div>
    </div>
  </ion-header-bar>
 
-->
  <ion-content>
  	<div style="width:100%; margin-top:30px;" align="center">
      
		<img src="img/register/face.png" style="width:100%;" ng-click="TakeFaceBookPhoto()">
		<img src="img/register/or.png" style="width:100%;">
		
		<img src="img/photo.png" style="width:100%;" ng-click="takePicture(1)">
		<img src="img/select_image.png" style="width:100%;" ng-click="takePicture(0)">
		<p>A clear FACE image makes the chances lot bigger.</p>
		
		<img src="{{profilePicture}}" style="width:200px; height:200px;">
		

		
    </div>    
  </ion-content>
  
  
  
 	<ion-footer-bar style="background-color:#fff !important; height:auto !important;" class="hide-on-keyboard-open">
	<div align="center" style="width:100%" ng-click="closePickerModal()">
	
		
		<img src="img/back-to-settings.png" style="width:100%;" >
		
	</div>
</ion-footer-bar>

  
</ion-modal-view>
