<ion-view view-title="{{navTitle}}" align-title="center" hide-nav-bar="true" >
  <ion-content drag-content="false"> 
  	<div style="background-color:#11c1f3 !important; width:100%" align="center">
        <div style="background-color:#11c1f3 !important; width:30%">
            <img class="title-image" src="img/logo.png" style="width:70px; margin-top:5px;"/>
        </div>
    </div>

    <div align="center" style="width:100%;">
  		<ion-slide-box on-slide-changed="slideHasChanged($index)">
              <ion-slide>
                 <img src="img/home/1.jpg" style="width:100%">
              </ion-slide>
              <ion-slide>
                <img src="img/home/2.jpg" style="width:100%">
              </ion-slide>
              <ion-slide>
                <img src="img/home/3.jpg" style="width:100%">
              </ion-slide>
              <ion-slide>
                <img src="img/home/4.jpg" style="width:100%">
              </ion-slide>
		</ion-slide-box>
        <div style="width:90%;">
        	<img src="img/register/face.png" style="width:100%" ng-click="facebookConnect()">
        </div>
        <div style="width:90%;">
        	<a href="#app/login" > <img src="img/register/email.png" style="width:100%"></a>
        </div>
        <div style="width:30%;">
        	<a href="#app/register" > <img src="img/register/new.png" style="width:100%"></a>
        </div>
    </div>
	

	
	
  </ion-content>
</ion-view>
