		<ion-side-menus side="left"   width="130"  enable-menu-with-back-views="true">

		<ion-side-menu-content >
		<ion-nav-bar  align-title="center" class="bar-calm" style="background-color:#25a7df !important">
		 
		  
		   <ion-nav-buttons side="left">
			 <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		  </ion-nav-buttons>
		  
		   <ion-header-bar  align-title="center"  class="bar-stable">
			<h1 class="title">Settings</h1>
		  </ion-header-bar>
		  
		 
		 
		  <ion-nav-back-button side="right"></ion-nav-back-button>
		 
		  
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
		</ion-side-menu-content>




		</ion-content>
		</ion-side-menus>
