<ion-modal-view >

<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons" ng-click="closeForgotPass()">
  <button class="button icon-left ion-chevron-left button-clear button-white"></button>

  </div>
  <div align="center">
  <h1 class="title"><img class="title" src="img/logo.png" style="width:70px; height:30px; margin-top:5px; margin-left:140px;"/></h1>
  </div>
</ion-header-bar>



  <ion-content >

  		<div style="width:100%" align="center">

            <div class="list list-inset">
              <label class="item item-input" style="border-radius:5px; border:1px solid #5fbbdc">
                <input type="text" placeholder="Email Address" ng-model="forgot.email">
              </label>

            </div>
         </div>	
		 
         <div style="width:100%" align="center">
                <div style="width:95%; margin-top:10px; margin-bottom:10px;" ng-click="sendPass()">
                    <img src="img/register/send.png" style="width:100%">
                </div>

         </div>	
	
	
  </ion-content>
</ion-modal-view>
