<ion-modal-view >

  <ion-header-bar>
  	<div style="" align="center">
        <img class="title" src="img/logo.png" style="width:70px; height:30px; margin-top:5px; margin-left:200px;"/>
        <div class="buttons">
          <button class="button button-clear" ng-click="closeLikeModal(0)">Close</button>
        </div>
    </div>
  </ion-header-bar>
  <ion-content>
  	<div style="width:100%; margin-top:30px;" align="center">
        <div class="istareCircle" align="center" ng-style="{ 'width' : circleSize+'px', 'height' : circleSize+'px' }">
            <img class="istareCircleImg" ng-src="{{imagePath}}/{{LikesArray[currentUser].image_sender}}" style="width:100%; height:100%;">
            <p></p>
        </div>
        <div style="width:80%; margin-top:60px;" >
        	 <p style="color:#25a7df; margin-bottom:25px;  font-size:24px; font-family:Arial, Helvetica, sans-serif;">{{LikesArray[currentUser].username_sender}}</p>
        	<img src="img/likeBtn.png" style="width:100%; height:100%;" ng-click="closeLikeModal(1)">
            <img src="img/timer.png" style="width:100%; margin-top:30px; height:100%;">
        </div>
    </div>    
  </ion-content>
</ion-modal-view>
