<ion-modal-view >

<ion-header-bar align-title="center" class="bar-positive">
  <div class="buttons" ng-click="closeLikeModal()">
  <button class="button icon-left ion-chevron-left button-clear button-white"></button>

  </div>
  <div align="center">
  <h1 class="title"><img class="title" src="img/logo.png" style="width:70px; height:30px; margin-top:5px; margin-left:100px;"/></h1>
  </div>
</ion-header-bar>



<!--
  <ion-header-bar>
  	<div style="" align="center">
        <img class="title" src="img/logo.png" style="width:70px; height:30px; margin-top:5px; margin-left:160px;"/>
        <div class="buttons">
          <button class="button button-clear" ng-click="closeLikeModal(0)">Close</button>
        </div>
    </div>
  </ion-header-bar>
-->
  <ion-content scroll="false">
  
  	<div style="width:100%; margin-top:30px;" align="center">
        <div class="istareCircle" align="center" ng-style="{ 'width' : circleSize+'px', 'height' : circleSize+'px' }" ng-click="showModal()">
            <img class="istareCircleImg" ng-src="{{matches[currentUser].image|checkImgUrl:true}}" style="width:100%; height:100%;">
            <p></p>
        </div>
        <div style="width:80%; margin-top:30px;" >
        	 <p style="color:#25a7df; margin-bottom:25px;  font-size:24px; font-family:Arial, Helvetica, sans-serif;">{{matches[currentUser].username}}</p>
        	<img src="img/likeBtn.png" style="width:100%; height:100%;" ng-click="closeLikeModal(1)">
           <!-- <img src="img/timer.png" style="width:100%; margin-top:30px; height:100%;"> -->
        </div>
    </div>    
	
		  <div class="item range" style="margin:20px; padding:20px; border:none !important">
              <p style="color:#25a7df; font-size:22px;">Now</p>
             	 <input type="range" name="foo" min="0" max="30"  ng-model="timeOutValue.value" ng-change="updateTextInput()"></input>
              <p style="color:#25a7df; font-size:22px;">{{timeOutValue.value}}</p>
		  </div>

	  <script id="image-modal.html" type="text/ng-template">
		  <div class="modal image-modal transparent" ng-click="closeModal()">
			  <ion-pane class="transparent">
				 <img ng-src="{{matches[currentUser].image|checkImgUrl:true}}" class="fullscreen-image"/>
			  </ion-pane>
		  </div>
	  </script> 	
	
	
	
  </ion-content>
</ion-modal-view>
