<ion-view title="{{navTitle}}" hide-back-button="false">


<!-- <ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-ios-arrow-back"></i> 
  </ion-nav-back-button>
</ion-nav-bar> -->


  <ion-content>


	<div class="list">
        <div  ng-repeat="item in LikesArray" ng-click="checkLiked(item.status,item.user_id_recipent,item.user_id_sender)"   class="item item-avatar" style="">
          <img src="{{imagePath}}/{{item | showImage}}"  width="100" height="100">
          <div style="width:100%; overflow:hidden;" ng-click="LikedBack(item.id,$index,item.user_id_sender,item.user_id_recipent)">
              <div  style="float:left">
                    <h2 ng-if="item.user_id_recipent ==  userid" class="likepageFont">{{item | checkUsername}} liked you</h2>
                    <h2 ng-if="item.user_id_recipent !=  userid" class="likepageFont">you liked {{item | checkUsername}}</h2>
                    <div style="color:black; float:right">{{item.username}}</div>
              </div>
              <div style="color:black; float:right; margin-top:-10px; width:35px;">
                    	<img ng-src="{{item|getLikedImagePage}}" style="width:100%; height:30px; margin-top:10px;">
               <!-- <a  ng-click="LikedBack(item.id,$index,item.user_id_sender,item.user_id_recipent)" ng-class="{ 'button button-icon icon ion-heart-broken': item.status == 0, 'button button-icon icon ion-ios-heart': item.status == 1 }" ng-style="item.user_id_recipent ==  userid && {'color':'green'} || item.user_id_recipent != userid && {'color': 'red'}"></a>
               <a ng-show="{{item.status == 1}}" ng-click="checkLiked(item.status,item.user_id_recipent,item.user_id_sender)" class="button button-icon icon ion-email" ng-class="{'EmailCantRead': item.status == 0 , 'EmailCanRead': item.status == 1 }"></a> -->
              </div>
		   </div>          
		</div>
	

      </div>
 
<!--
ui-sref="app.chat({id: {{messages.id}}})"
-->
	  
	
  </ion-content>
</ion-view>
