<ion-view  hide-back-button="true" hide-nav-bar="false" cache-view="false" style="background-color:#11C1F3;" >
	<!-- TITLE Header --> 
	<ion-nav-title><img class="title-image" src="img/logo.png" style="width:70px; margin-top:5px;"/></ion-nav-title>
	<ion-nav-buttons side="right" >
        <a class="item-icon-right" href="#" style="text-decoration:none;" ng-click="goMessages()">
        	<span class="badge badge-assertive" style="z-index:100; position:relative; left:20px;">{{NewMessages}}</span>
   		 	<i class="icon ion-ios-email-outline" style="color:white;  z-index:-1"></i>
  		</a>
    </ion-nav-buttons> 
 
	<ion-nav-buttons side="left" >
        <a class="item-icon-left" href="#" style="text-decoration:none;"   ng-click="goSettings()">
   		 	<i class="icon ion-ios-settings-strong" style="color:white;  z-index:-1"></i>
  		</a>
    </ion-nav-buttons> 

    <!-- Content --> 
    <ion-content style="background-color:#7dc6ee;" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    
        <!--
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="refreshMatches()">
        </ion-refresher>
        -->
        
        <div style="width:100%" align="center" >
        	<!-- Ng Reapeat --> 
            <div ng-repeat="card in matches"  class="istareCircle" align="center" ng-style="{ 'width' : circleSize+'px', 'height' : circleSize+'px' }">
				<!--  <p style="margin-top:10px; margin-bottom:10px; font-size:25px;">{{getDistance(card.distance)}}</p> -->
                <!-- Immage --> 
                <img ng-click="showLikeModal($index,card.sender_ok,card.recpient_ok,card.id)" class="istareCircleImg" ng-src="{{card.image |checkImgUrl:true }}" style="width:100%; height:100%;">
                <!-- Like Icon-->
                <div class="likeCircle" ng-if="card.liked==1 && (card.sender_ok != 1 || card.recpient_ok != 1 )" >
                    <img ng-src="{{card|getLikedImage}}" style="width:100%;">
                </div>
                <!-- Chat Icon -->
                <div class="chatCircle" ng-if="card.sender_ok ==1 && card.recpient_ok==1 ">
                    <img src="img/icons/white_mail.png" style="width:100%; margin-top:2px;" ng-click="checkLiked(1,card.id)">
                </div>
                <p>distance: {{card.distance | number}} </p>
                <!-- <p>{{card.liked}} :: {{card.sender_ok}} :: {{card.recpient_ok}} :: {{card|getLikedImage}}</p> -->
			</div>
			
        </div>
    </ion-content>
</ion-view>

