		<ion-side-menus side="left"   width="130"  enable-menu-with-back-views="true">

		<ion-side-menu-content >
		<ion-nav-bar  align-title="center" class="bar-calm" style="background-color:#25a7df !important">
		 
		  
		   <ion-nav-buttons side="left">
			 <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		  </ion-nav-buttons>
		  
		   <ion-header-bar  align-title="center"  class="bar-stable">
			<h1 class="title">Settings</h1>
		  </ion-header-bar>
		  
		 
		 
		  <ion-nav-back-button side="right"></ion-nav-back-button>
		 
		  
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
		</ion-side-menu-content>

		<ion-side-menu side="left" width="{{sideMenuWidth}}" ng-controller="SettingsCtrl">
		<ion-header-bar class="bar-stable" >
		  <h1 class="title" style="text-direction:right;">Settings</h1>
		</ion-header-bar>
		<ion-content style="background-color:white">
		   <form name="SettingsForm" ng-submit="updateSettings()" role="SettingsForm" novalidate>
			<div class="list" style="background-color:white">
			<label class="item item-toggle listLabel">
			   Invisibility
			   <label class="toggle toggle-positive ">
				 <input type="checkbox"  ng-model="fields.visiblity" ng-change="onChangeSave()" checked>
				 <div class="track">
				   <div class="handle"></div>
				 </div>
			   </label>
			</label>
			
			<label class="item item-toggle listLabel" >
			   Show users &nbsp; &nbsp; &nbsp; near by users only
			   <label class="toggle toggle-positive">
				 <input type="checkbox" ng-model="fields.nearBy" >
				 <div class="track">
				   <div class="handle"></div>
				 </div>
			   </label>
			</label>

			<label class="item item-input ">
				<div ng-if="fields.nearBy" class="RadrDitance">
				
				</div>
				<div ng-class="fields.nearBy?'noActiveRadar':'input-label'" >
				 Radar distance
				</div>
				<!--
				<slider floor="10" ceiling="100"  ng-model-low="fields.minDistance" ng-model-high="fields.maxDistance" ></slider>
				-->

				<rzslider 
				rz-slider-floor="1" 
				rz-slider-ceil="99"
				rz-slider-model="fields.minDistance"
				 style="width:50%;">
				</rzslider>



				</label>  
			
			 

			<label class="item item-input item-select">
				<div class="input-label">
				  Interested in
				</div>
				<select ng-model="fields.interested" ng-change="onChangeSave()">
				  <option value="1" selected>Male</option>
				  <option value="2" >Female</option>
				  <option value="3">Both</option>
				</select>
			</label>  



			<label class="item item-input ">
			<div class="input-label" style="width:30%">
			  Age Group
			</div>
			<div style="width:70%" align="left">
            	<div style="width:80%">
                    <rzslider rz-slider-on-end="onChangeSave()" 
                    rz-slider-floor="18" 
                    rz-slider-ceil="55"
                    rz-slider-model="fields.minAge" 
                    rz-slider-high="fields.maxAge"  rz-slider-noSwitching="true" >
                    </rzslider>
                </div>
			</div>

			<!--
			<slider floor="10" ceiling="100"  ng-model-low="fields.minAge" ng-model-high="fields.maxAge" ></slider>
			-->
			
			</label>  
			<!--<div align="center" style="border-top:0px; border-bottom:0px;">
				<div>Age Range Min: {{fields.minAge}}</div>
				<div>Age Range Max: {{fields.maxAge}}</div>
			</div>-->
			
		<div class="list" >

			<label class="item item-input" ng-click="EditProfile()">
			<div class="input-label">
			  Edit profile photo
			</div>
			</label>  
			
			<label class="item item-toggle" style="color:black;">
			   Notifications
			   <label class="toggle toggle-positive">
				 <input type="checkbox" checked>
				 <div class="track">
				   <div class="handle"></div>
				 </div>
			   </label>
			</label>

			<label class="item item-input">
			<div class="input-label">
			  Invite Friends
			</div>
			</label>  

			<label class="item item-input">
				<div class="input-label">
				  Share Us :)
				</div>
			</label>   

		 </div>

		<div class="list">
		  <label class="item item-input">
			<div class="input-label">
			  Contact iStare
			</div>
			</label> 

		  <label class="item item-input">
			<div class="input-label">
			  Privacy Policy
			</div>
			</label> 
		  
		  <label class="item item-input" ng-click="deleteChatBtn()">
				<div class="input-label">
				  Clear
				</div>
		  </label>  
			
		  <label class="item item-input" ng-click="LogOutBtn()">
			<div class="input-label">
			  Logout
			</div>
			</label>  

		<!--
		  <label class="item">
			  <button ng-click="saveChangesBtn()" class="button button-block button-balanced" type="button">Update</button>
			</label>
		-->
			


		</div>
		</div>		

		</form>
		</ion-side-menu>


		</ion-content>
		</ion-side-menus>
