<ion-view hide-back-button="false" hide-nav-bar="false" >
<ion-nav-title align-title="center" ><img class="title-image" src="img/logo.png" style="width:70px; margin-top:5px;"/></ion-nav-title>

 <ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="button-icon icon  ion-chevron-left" style="color:white;"></i> 
  </ion-nav-back-button>
</ion-nav-bar> 
 
<!-- on-swipe-right="onSwipeRight()"  --> 
 <ion-content style="margin-top:-7px; ">
  			<div class="tabsDiv">
            	<div ng-class="{'tabsActive': ActiveTab == 0 , 'tabsNotActive': ActiveTab == 1 }" ng-click="setActiveTab(0)">
                	Messages
                </div>
                <div  ng-class="{'tabsActive': ActiveTab == 1 , 'tabsNotActive': ActiveTab == 0 }"  ng-click="setActiveTab(1)">
                	Likes
                </div>
            </div>
            <div>	
              <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe" style="background-color:red !important; margin-top:0px; top:0px">
			    <ion-item ng-if="ActiveTab == 0" style="border:none !important; padding:0px !important; margin:0px !important; background-color:#11c1f3 "   ng-repeat="messages in messagesArray | filter:searchMessages | orderObjectBy:'index':false ">
											<div class="likeRepeat">
												<div class="imgLike" ng-click="ShowImageModal(messages.image,1)">
													<img src="{{imagePath}}/{{messages.image}}"  >
													<p>{{messages.username}}</p>
												</div>
												<div class="textLike" ng-click="goToChat(messages.username_id,'0')">
													<h2 class="likepageFont" style="font-size:12px;">you've got a message!:)</h2>
													
												</div>
												<div class="iconsLike" ng-click="goToChat(messages.username_id,'0')">
													<img ng-src="img/icons/blue_mail.png" style="width:26px; height:22px; margin-top:10px;  margin-left:10px;" >
													<img ng-src="img/icons/heart1.png" style="width:26px; height:22px; margin-top:10px; margin-left:10px;" >
												</div>
											</div>
											<div style="width:100%" align="center">
													 <div class="likeLine" ></div>
											</div>
                                            <ion-option-button class="button-calm"
                                                               ng-click="deleteMsg($index,messages)">
                                              Delete {{messages.username}}
                                            </ion-option-button>
                                            
                    </ion-item>
					
					
					
                    <ion-item ng-if="ActiveTab == 1" class="ActiveTab"   ng-repeat="item in LikesArray | filter:checkDoubleMessages">
										<div class="likeRepeat">
											<div class="imgLike">
												<img src="{{imagePath}}/{{item | showImage}}"  ng-click="ShowImageModal(item,0)">
												<p>{{item | checkUsername}}</p>
											</div>
											<div class="textLike" >
												<div ng-if="item.recpient_ok != 1 || item.sender_ok != 1">
													<h2 style="font-size:13px;" ng-if="item.user_id_recipent ==  userid" class="likepageFont">{{item | checkUsername}} liked you ! :)</h2>
													<h2 style="font-size:13px;" ng-if="item.user_id_recipent !=  userid" class="likepageFont">you liked {{item | checkUsername}} ! :)</h2>
													<div style="color:black; float:right; font-size:13px;"></div>
												</div>
												<div ng-if="item.recpient_ok == 1 && item.sender_ok == 1" ng-click="goToChat({{item | checkUserId}},item)">
													<h2 class="likepageFont">send her message</h2>
												</div>
											</div>
											<div class="iconsLike" ng-click="goToChat({{item | checkUserId}},item)">
											
												<div ng-if="item.recpient_ok == 1 && item.sender_ok == 1">
													<img ng-src="{{item|getLikedImagePage}}" style="width:26px; height:22px; margin-top:10px; margin-left:10px;" >
													<img ng-src="img/icons/heart1.png" style="width:26px; height:22px; margin-top:10px;  margin-left:10px;">
												</div>
											
												<img ng-if="item.recpient_ok != 1 || item.sender_ok != 1" ng-src="{{item|getLikedImagePage}}" style="width:26px; height:22px; margin-top:10px; margin-left:47px;" >
											</div>
										</div>
										<div style="width:100%" align="center">
											 <div class="likeLine" ></div>
										</div>
                                         <ion-option-button class="button-calm"
                                                               ng-click="deleteLike($index,item)">
                                              Delete {{item | checkUsername}}
                                            </ion-option-button>
							   
                    </ion-item>
                 </ion-list>           
            </div>

	  
	
  </ion-content>
  
  
			  <script id="image-modal2.html" type="text/ng-template">
			  <div class="modal image-modal transparent" ng-click="closeModal()">
				  <ion-pane class="transparent">
					 <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
				  </ion-pane>
			  </div>
		  </script> 

		  
</ion-view>
