<ion-view title="{{navTitle}}" align-title="center" >

<ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-chevron-left"></i> 
  </ion-nav-back-button>
</ion-nav-bar>

  <ion-content>
	   <form name="ProfileForm" ng-submit="profileUpdate()" role="ProfileForm" novalidate>
	
		<div class="list">
		<!--
		  <label class="item item-input">
			<span class="input-label">Email</span>
			<input type="email" ng-model="fields.email" required>
		  </label>
		  <label class="item item-input">
			<span class="input-label">Password</span>
			<input type="password" ng-model="fields.password" required>
		  </label>
		-->
		
		<div class="item" align="center">
		<img src="img/photo.png" style="width:100%;" ng-click="takePicture(1)">
		</div>
		<div class="item" align="center">
		<img src="img/select_image.png" style="width:100%;" ng-click="takePicture(0)">
		</div>
		<div class="item" align="center">
		
		 <img ng-src="{{defaultimage |checkImgUrl:true}}"  align="center"  style="width:100%;" >

		<!--
		<label class="item item-input" style="padding-right:20px; direction:rtl; width:100%;" align="center">
		<input type="file"  name="fileUPP" onchange="angular.element(this).scope().onFileSelect(this)" style="display:none;" required>
		<img ng-src="{{defaultimage}}"  align="center" height="250" style="width:100%;" >
	   </label>
	   -->
		</div>

		<!--
		<p ng-show="showsubmit">uploading profile image...</p>
		-->
        <label class="item">
          <button ng-disabled="ProfileForm.$invalid || showsubmit" class="button button-block button-positive" type="submit">Update Profile</button>
		</label>

		
		</div>

	
    </form>

 </ion-content>
</ion-view>