<ion-view title="{{navTitle}}" hide-back-button = "false">

 <ion-nav-bar align-title="center">
  <ion-nav-back-button class="button-clear">
    <i class="ion-ios-arrow-back"></i> 
  </ion-nav-back-button>
</ion-nav-bar> 


  <ion-content overflow-scroll="false" style="overflow:hidden; height:100%">
	   <form name="RegisterForm" ng-submit="register()" role="RegisterForm" novalidate >
       	<div style="width:100%;" align="center">
            <div style="width:90%; margin-top:20px;">
                <img src="img/register/face.png" style="width:100%" ng-click="faceBookLogin(0)">
            </div>
            <div style="width:90%; margin-top:3px; margin-bottom:0px; position:relative; z-index:-1">
                <img src="img/register/or.png" style="width:100%">
            </div>
            <div class="list list-inset" style="z-index:100; position:relative;  margin-top:0px;">
                  <label class="item item-input" style="border-radius:5px; border:1px solid #5fbbdc; padding-top:2px; padding-bottom:2px;"  >
                    <input type="text" placeholder="Full Name" ng-model="registerFields.name" ng-focus="doFocus()" ng-blur="doBlur()" required>
                  </label>
				<!--
                  <label class="item item-input" style="margin-top:5px; border-radius:5px; border:1px solid #5fbbdc">
                    <input type="text" placeholder="Username" ng-model="registerFields.username" required>
                  </label>
				-->
                  <label class="item item-input" style="margin-top:5px; border-radius:5px; border:1px solid #5fbbdc; padding-top:2px; padding-bottom:2px;">
                    <input type="email" placeholder="Email" ng-model="registerFields.email" ng-focus="doFocus()" ng-blur="doBlur()" required>
                  </label>
                  <label class="item item-input" style="margin-top:5px; border-radius:5px; border:1px solid #5fbbdc; padding-top:2px; padding-bottom:2px;">
                    <input type="password" placeholder="Password" ng-model="registerFields.password" ng-focus="doFocus()" ng-blur="doBlur()" required>
                  </label>
                  <label class="item item-input item-select" style="margin-top:5px; border-radius:5px; border:1px solid #5fbbdc; padding-top:2px; padding-bottom:2px;">
                        <div class="input-label" style="position:relative; z-index:100">
                          Gender
                        </div>
                        <select ng-model="registerFields.gender" style="margin-top:-6px;" >
                          <option value="1" selected>Male</option>
                          <option value="2" >Female</option>
                        </select>
                  </label> 
                  <label class="item item-input item-select" style="margin-top:5px; border-radius:5px; border:1px solid #5fbbdc; padding-top:2px; padding-bottom:2px;">
                        <div class="input-label">
                          Interested in
                        </div>
                        <select ng-model="registerFields.interested" style="margin-top:-6px;">
                          <option value="1">Male</option>
                          <option value="2" selected>Female</option>
                          <option value="3">Both</option>
                        </select>
                </label>  
                <label class="item item-input item-select" style="margin-top:5px; border-radius:5px; border:1px solid #5fbbdc; padding-top:2px; padding-bottom:2px;">
                    <div class="input-label">
                      Age
                    </div>
                    <select ng-model="registerFields.age" style="margin-top:-6px;" >
                      <option value="{{row}}" ng-repeat="row in ages" >{{row}}</option>
                    </select>
                </label>
            </div>
         </div>
        
		<!--
		<div ng-show="image.submit" align="center">
			<b>uploading image, please wait...</b>
		</div>
		-->
		<div  align="center"  style="margin-top:10px; width:100%; padding-bottom:200px">
           <div style="width:18%;" ng-click="LoadImageModal()" >
                    <img ng-src="{{image.defaultimage}}"  align="center" style="width:100%;"   >
  			</div>
		</div>
		
<!--        
        <button  type="submit"  ng-disabled="RegisterForm.$invalid || showsubmit" style="border:none; background-color:white; width:100%;">
            	<div style="width:100%" align="center">
                    <div style="width:95%; margin-top:5px; margin-bottom:0px;">
                        <img src="img/register/sign_up.png" style="width:100%">
                    </div>
                </div>
        </button>
        <div style="width:100%" align="center">
           <a href="#/app/login"> 

           </a>
             <div style="width:42.5%; margin-top:10px; margin-bottom:0px;">
                    <img src="img/register/terms.png" style="width:100%">
            </div>
         </div> 


-->	 
        <!-- <label >
          <button ng-disabled="RegisterForm.$invalid || showsubmit" class="button button-block button-balanced" type="submit">Sign up</button>
          <!--
		  <a href="#/app/login" class="button button-block button-positive" >Log in</a>
		 
		</label> -->
    
    </form>

 </ion-content>
 
 	<ion-footer-bar style="background-color:#fff !important; height:auto !important;" ng-if="keyboardOpen == 0">
	<div align="center" style="width:100%">
	
				<div style="width:95%; margin-top:5px; margin-bottom:0px;" ng-click="register()">
					<img src="img/register/sign_up.png" style="width:100%">
				</div>	
				
               <div style="width:95%; margin-top:0px; margin-bottom:0px;" ui-sref="app.login">
                        <img src="img/register/login.png" style="width:100%">
                </div>
				
             <div style="width:42.5%; margin-top:10px; margin-bottom:0px;">
                    <img src="img/register/terms.png" style="width:100%">
            </div>
	</div>
</ion-footer-bar>


</ion-view>