.tabSelected
{
	border-bottom:1px solid #03F;
	
}

.profileTabs
{
	width:100% !important;
	padding-top:0px;
	background-color:yellow !important;
}

.tab-item
{
	border-bottom:none !important;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated 
{
    color:#315caa;
	font-weight:bold;
	border-bottom:1px solid #315caa !important;
	width:100% !important;
}